img {
width:300px;
height:300px;
display: block;
margin: auto;
}
.i1 {
width:300px;
height:300px;
float:left;
}
h4{
font-family:antiqua;
font-size:28px;
color:blue;
text-align:center;
}

h3{
font-family:antiqua;
font-size:12px;
color:#B04AEF;
text-align:center;
}
h2{
font-family:antiqua;
font-size:15px;
color:purple;
text-align:left;
}
.h22{
font-family:antiqua;
font-size:15px;
color:purple;
text-align:right;
}
ol{
color:green;
text-align:left;
}

ul{
color:orange;
list-style-position:inside;
text-align:right;
}
h5{
font-family:antiqua;
font-size:12px;
color:blue;
text-align:center;
}

video{
width:300px;
height:300px;
float:right;
}

table{
background:purple;
color:pink;
float:center;
width:200px;
height:100px;
}

h6{
color:orange;
text-align:right;
} 

a{
color:#E1F706;
text-align:right;
}


table{
background:purple;
color:pink;
}

h6{
color:orange;
text-align:right;
} 