body{
background-color:#000602;
}
h1{
font-family:antiqua;
font-size:28px;
color:#F1BCB4;
text-align:center;
}
img {
width:200px;
height:200px;
margin:auto;
display:block;
}

h4{
font-family:antiqua;
font-size:18px;
color:#B4F1B6;
text-align:left;
}
h3{
color:pink;
text-align:left;
font-family:antiqua;
font-size:18px;
} 
ol{
color:#B4ECF1;
text-align:left;
font-family:antiqua;
font-size:18px;
}
.ii {
width:50px;
height:50px;
float:right;
}

h6{
color:orange;
text-align:right;
font-size:18px;
} 

a{
color:#B4ECF1;
text-align:left;
font-family:antiqua;
font-size:18px;
}