body{
background-color:#84CAF2;
}

h1{
font-family:antiqua;
font-size:28px;
color:blue;
text-align:center;
}

img {
width:200px;
height:200px;
float:right;
}
.i1 {
width:200px;
height:200px;
float:left;
}

h4{
font-family:antiqua;
font-size:18px;
color:red;
text-align:left;
}

h5{
font-family:antiqua;
font-size:18px;
color:red;
text-align:left;
}

ol{
color:green;
text-align:left;
font-family:antiqua;
font-size:18px;
}

ul{
color:orange;
text-align:right;
list-style-position:inside;
font-family:antiqua;
font-size:18px;
}

video{
width:300px;
height:300px;
float:left;
}

table{
float:right;
background:purple;
color:pink;
}

h3{
color:pink;
text-align:left;
font-family:antiqua;
font-size:18px;
} 

h2{
color:purple;
text-align:right;
font-family:antiqua;
font-size:18px;
} 

a{
color:pink;
float:right;
}

.a1{
color:pink;
display: flex;
justify-content: center;
align-items: center;
}


h6{
color:orange;
text-align:right;
font-size:18px;
} 