body{
background-color:#000602;
}

h1{
font-family:antiqua;
font-size:28px;
color:#F1BCB4;
text-align:center;
}

img {
width:200px;
height:200px;
float:right;
}
.i1 {
width:200px;
height:200px;
float:left;
}

h4{
font-family:antiqua;
font-size:18px;
color:#B4F1B6;
text-align:left;
}

h5{
font-family:antiqua;
font-size:18px;
color:#B4F1B6;
text-align:left;
}

ol{
color:#B4ECF1;
text-align:left;
font-family:antiqua;
font-size:18px;
}

ul{
color:#B4ECF1;
text-align:right;
list-style-position:inside;
font-family:antiqua;
font-size:18px;
}

video{
width:300px;
height:300px;
float:left;
}

table{
float:right;
background:#C2B4F1;
color:#B4F1E7;
}

h3{
color:pink;
text-align:left;
font-family:antiqua;
font-size:18px;
} 

h2{
color:purple;
text-align:right;
font-family:antiqua;
font-size:18px;
} 

a{
color:pink;
float: right;
}

.aa{
color:pink;
text-align: center;
}


h6{
color:orange;
text-align:right;
font-size:18px;
} 