body{ 
background-color:#93EFF6;
}

h1{
font-family:cambria;
color:pink;
font-size:28px;
text-align:center;
}

p{
text-align:center;
color:pink;
}

b{
color:purple;
text-align:left;
}

img{
width:250px;
height:250px;
}


.b1{
color:purple;
text-align:center;
}

.ii{
width:250px;
height:250px;
margin:auto;
display:block;
}

.b2{
color:purple;
float:right;
}

.i1{
with:250px;
height:250px;
float:right;
}

h6{
text-align:right;
font-family:castellar;
color:purple;
}