h1{
font-family:cambria;
color:pink;
font-size:28px;
text-align:center;
}
b{
color:purple;
text-align:center;
}

img{
width:250px;
height:250px;
margin:auto;
display:block;
}


.b1{
color:purple;
text-align:center;

}

.ii{
width:250px;
height:250px;
margin:auto;
display:block;
}

.b2{
color:purple;
text-align:center;
}

.i1{
width:250px;
height:250px;
margin:auto;
display:block;
}

h6{
color:green;
font-size:15px;
font-family:cambria;
}